<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" android-packageName="com.ekimscanner" id="com.ekimscanner" version="1.0.0">
  <name>EkimBarcodeScanner</name>
  <description>
    App for scanning barcodes and sending the info to ekim.ru
  </description>
  <author email="gpoi@mail.ru" href="https://vk.com/gregp">
   Plyusch Gregory
  </author>
  <plugin name="cordova-plugin-inappbrowser" version="1.4.0" />
  <plugin name="phonegap-plugin-barcodescanner" version="4.0.0" />
  <plugin name="cordova-plugin-dialogs" version="1.2.1" />
  <plugin name="cordova-plugin-network-information" version="1.2.1" />
  <plugin name="cordova-plugin-fetch" spec="https://github.com/aporat/cordova-plugin-fetch.git" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <platform name="android">
        <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
</widget>