<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" android-packageName="ekim.scanner.app" id="ekim.scanner.app" version="1.0.0">
  <name>EkimBarcodeScanner</name>
  <description>
    App for scanning barcodes and sending the info to ekim.ru
  </description>
  <author email="gpoi@mail.ru" href="https://vk.com/gregp">
   Plyusch Gregory
  </author>
  <plugin name="cordova-plugin-inappbrowser" version="1.4.0" />
  <plugin name="phonegap-plugin-barcodescanner" version="5.0.0" />
</widget>